<% if @errors != nil && @errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <% @errors.each do |msg| %>
        <%= msg %><br>
      <% end %>
    </div>
  </div>
<% end %>