<footer>
  <div class="footer-content">
    Powered by <a href="http://steampowered.com" target="_blank">Steam</a> and 
    <a href="http://www.giantbomb.com" target="_blank">GiantBomb</a>
  </div>
</footer>