<% if @user %>
<div id="user-info">
  <div id="profile-pic">
    <img src="<%= @user.profile_pic %>" />
  </div>
  <div id="steam-name">
        <%= @user.personaname %>
  </div>
  <div id="steam-level">
       <%= @user.steam_level %>
  </div>
</div>
<% end %>