<% if @user %>
<div id="user-info">
    <div id="steam-name">
        Viewing: <%= @user.personaname %><br>
        Level: <%= @user.steam_level %>
  </div>
  <div id="profile-pic">
    <img src="<%= @user.profile_pic %>" />
  </div>
</div>
<% end %>