<% provide(:title, "About") %>
<div class="container-fluid" style="margin-top:20px;">
<div class="col-xs-9">
<h1>About</h1>
<h2>What is SteamLibrarian?</h2>
<p>
    Steam librarian is an innovative search tool for searching your steam library. It pulls your list of games 
    from steam and merges it with the information on those games from giant bomb. You can then sort those games
    based on genre, concept, and themes. Once you have narrowed your game list down to a set you want to play you
    can shoose one to run, or run one at random.
</p>
<hr/>
<h2>Why "SteamLibrarian?"</h2>
<p> 
    Unfortunately, steam does not have a good system in place to filter your games based on detailed game criteria.
    And with many users have a staggeringly large library of games it is hard to decide what to play. So we decided 
    to provide this as a solution.
</p>
<hr/>
<h2>Specs</h2>
<p>
    V1.0 <--- What does that even mean without detailed documentation?
</p>
<hr/>
<h2>Special Thanks</h2>
<p>
    
</p>
<h3>Help</h3>
<p>
    <a href="https://www.railstutorial.org/" target="_blank">Rails Tutorial (Michael Hartl)</a><br>
</p>
<h3>Logo</h3>
<p>The logo was designed by two people. The base was made by <a href="https://www.fiverr.com/users/krylic/orders/FO234C155A57" target="_blank">vector_god</a> 
  and modifications were made by my good friend <a href="http://www.letymacarty.com" target="_blank">Lety Macarty</a> (hire her, shes awesome!)</p>
</div>
</div>