<% provide(:title, "About") %>
<h1>About</h1>
<h2>What is SteamLibrarian?</h2>
<p></p>
<hr/>
<h2>Why "SteamLibrarian?"</h2>
<p></p>
<hr/>
<h2>Specs</h2>
<p></p>
<hr/>
<h2>Special Thanks</h2>
<h3>Help</h3>
<p><a href="https://www.railstutorial.org/" target="_blank">Rails Tutorial (Michael Hartl)</a><br>
</p>
<h3>Logo</h3>
<p>The logo was designed by two people. The base was made by <a href="https://www.fiverr.com/users/krylic/orders/FO234C155A57" target="_blank">vector_god</a> 
  and modifications were made by my good friend <a href="http://www.letymacarty.com" target="_blank">Lety Macarty</a> (hire her, shes awesome!)</p>