@import "bootstrap-sprockets";
@import "bootstrap";

body{
    background: #000000;
    color: #9099a1;
}

.content, .container-fluid, #body_content{
    min-width: 1100px;
    max-width: 90%;
    margin: auto;
    padding: 0 25px;
}

#footer{
    padding-top: 50px;
}

#global_header{
    background: #171a21;
    background: -moz-linear-gradient(top,  rgba(23,26,33,1) 75%, rgba(8,17,25,1) 92%, rgba(66,139,202,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(23,26,33,1)), color-stop(92%,rgba(8,17,25,1)), color-stop(100%,rgba(66,139,202,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(23,26,33,1) 75%,rgba(8,17,25,1) 92%,rgba(66,139,202,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(23,26,33,1) 75%,rgba(8,17,25,1) 92%,rgba(66,139,202,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(23,26,33,1) 75%,rgba(8,17,25,1) 92%,rgba(66,139,202,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(23,26,33,1) 75%,rgba(8,17,25,1) 92%,rgba(66,139,202,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171a21', endColorstr='#428bca',GradientType=0 ); /* IE6-9 */


    height: 140px;
    position: relative;
    
    .logo{
        font-weight: bold;
        font-size: 25px;
        padding: 0 25px;
        position: absolute;
        top: 50%;
        margin-top: -17px;
        color: white;
    }
}

#user-info{
    float: right;
    margin-top: 15px;
    #steam-name{
        display: inline-block;
        vertical-align: middle;
        text-align: right;
    }
    #profile-pic{
        display: inline-block;
        vertical-align: middle;
    }
}